@import "tailwindcss";

@theme {
  /* Theme */
  --color-theme-backdrop:   rgba(2, 6, 24, 1);
  --color-dark:             rgba(15, 23, 43, 1);
  --color-stroke:           rgba(49, 65, 88, 1);
  --color-foreground:       rgba(144, 161, 185, 1);
  --color-gray:             rgba(157, 178, 191, 1);

  --color-link-foreground:  rgba(255, 161, 173, 1);

  /* Primary */
  --color-background:       rgba(255, 184, 106, 1);
}

body {
  font-family: 'Fira Code', monospace;
  font-weight: normal;
  font-style: normal;
  color: var(--color-foreground);
}